# ---------------- #
#   Main Configs   #
# ---------------- #
baseurl:
#url: https://echo-music.github.io/
date_format: "ordinal"
title: 刘方亭.blog
subtitle: "学无止境--------"
description: "刘方亭的个人博客"
keywords: echo_music, Fangting Liu,  echo-music ,刘方亭的个人博客
encoding: "utf-8"
side_bar_repo_limit: 5
repository: echo-music/echo-music.github.io

# ---------------- #
#      Author      #
# ---------------- #
author: Fangting Liu
organization: 
organization_url: 
github_username: echo-music
location: Beijing, China
email: php_fangting@126.com

# ---------------- #
#    Navigation    #
# ---------------- #
navs:
  -
    href: /
    label: 首页

  -
    href: /categories/
    label: 分类

  -
    href: /wiki/
    label: 维基

  -
    href: /links/
    label: 链接

  -
    href: /about/
    label: 关于

# ---------------- #
#       RSS        #
# ---------------- #
subscribe_rss: /feed.xml

# ---------------- #
#      Jekyll      #
# ---------------- #
markdown: kramdown
kramdown:
    input: GFM
highlighter: rouge
paginate: 8
lsi: false
quiet: false
excerpt_separator: "\n\n"
permalink: /:year/:month/:day/:title/
gems:
    - jekyll-github-metadata
    - rouge
#     - jekyll-html-pipeline
    - jekyll-paginate
    - jekyll-sitemap
    - jekyll-feed
    - jemoji
#     - jekyll-mentions
collections:
    wiki:
        output: true
        permalink: /wiki/:path/

repository: echo-music/echo-music.github.io

# ---------------- #
#      Comments    #
# ---------------- #
# support provider: disqus, gitment, gitalk
comments_provider: gitalk
# !!!重要!!! 请修改下面这些信息为你自己申请的
# !!!Important!!! Please modify infos below to yours
# https://disqus.com
disqus:
    username:
# https://imsun.net/posts/gitment-introduction/
gitment:
    owner: echo-music
    repo: echo-music.github.io
    oauth:
        client_id: f1b37e802c634863604a
        client_secret: 3185e464e62d9eab0a432c06daebfa3a6af7e874
# https://github.com/gitalk/gitalk#install
gitalk:
    owner: echo-music
    repo: echo-music.github.io
    clientID: f1b37e802c634863604a
    clientSecret: 3185e464e62d9eab0a432c06daebfa3a6af7e874
# 在使用其它评论组件时可点击显示 Disqus
lazy_load_disqus : false

# ---------------- #
#    Analytics     #
# ---------------- #
google:
    analytics_id: UA-80669434-1
